<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>15G31</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>als</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>set.icns</string>
			<key>CFBundleTypeName</key>
			<string>Ableton Live Set</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>a-ls</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>asd</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>asd.icns</string>
			<key>CFBundleTypeName</key>
			<string>Sample Analysis File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>a-sd</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>generic.icns</string>
			<key>CFBundleTypeName</key>
			<string>Sample File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>AIFF</string>
				<string>WAVE</string>
				<string>Sd2f</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fxb</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>generic.icns</string>
			<key>CFBundleTypeName</key>
			<string>VST Bank</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>AFxB</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fxp</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>generic.icns</string>
			<key>CFBundleTypeName</key>
			<string>VST Program</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>AFxP</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>alp</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>pack.icns</string>
			<key>CFBundleTypeName</key>
			<string>Ableton Live Pack</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>a-lp</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>adv</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>preset.icns</string>
			<key>CFBundleTypeName</key>
			<string>Ableton Device Preset</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>a-dv</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>adg</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>rack.icns</string>
			<key>CFBundleTypeName</key>
			<string>Ableton Rack Preset</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>a-dg</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>alc</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>alc.icns</string>
			<key>CFBundleTypeName</key>
			<string>Ableton Live Clip</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>a-lc</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>amxd</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>mfl_device.icns</string>
			<key>CFBundleTypeName</key>
			<string>Ableton Max Patch</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>amxd</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>auz</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>generic.icns</string>
			<key>CFBundleTypeName</key>
			<string>Ableton Authorization File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>a-uz</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Live</string>
	<key>CFBundleGetInfoString</key>
	<string>10.0.1 (2018-01-19_24db47c402), Copyright 1999-2017 Ableton AG</string>
	<key>CFBundleIconFile</key>
	<string>app.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.ableton.live</string>
	<key>CFBundleName</key>
	<string>Live</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>10.0.1 (2018-01-19_24db47c402)</string>
	<key>CFBundleSignature</key>
	<string>a-lv</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Ableton Document URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ableton</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>10.0.1 (2018-01-19_24db47c402)</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTSDKBuild</key>
	<string>15E60</string>
	<key>DTSDKName</key>
	<string>macosx10.1110.11</string>
	<key>DTXcode</key>
	<string>0731</string>
	<key>DTXcodeBuild</key>
	<string>7D1014</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.11.6</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>TCocoaApplication</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
</dict>
</plist>
